* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Winky Milky';
    src: url('fonts/WinkyMilky.ttf') format('truetype');
}

body {
  font-family: 'Winky Milky', sans-serif;
  background-color: #F2EEE8;
  color: #3b2f2f;
}

.header {
  background-color: #f8c8dc;
  padding: 10px 8%;
}

.logo img{
    height: 50px; 
    width: auto;
}

.logo{
    display: flex;
    align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #4E0A0B;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #4E0A0B;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: white;
  background-color: #6b2f3a;
}

.hero {
  min-height: 80vh;
  background: linear-gradient(rgba(255,248,243,0.8), rgba(255,248,243,0.8));
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 8%;
  
}

.hero h2 {
  font-size: 55px;
  color: #6b2f3a;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  max-width: 600px;
  margin-bottom: 30px;
}

.hero-img{

    display: block;
    width: 350px;
    height: auto;
    
}

.btn {
  display: inline-block;
  background-color: #6b2f3a;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.btn-inicio{
    margin-top: 20px;
    margin-bottom: 20px;
}

.section {
  padding: 70px 8%;
  text-align: center;
}

.section h2 {
  font-size: 36px;
  color: #6b2f3a;
  margin-bottom: 30px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card h3 {
  color: #9b4d5c;
  margin-bottom: 12px;
}

.about {
  background-color: #fff;
}

.about p {
  max-width: 900px;
  margin: 0 auto 25px;
  line-height: 1.7;
}

.about h3 {
  color: #9b4d5c;
  margin-bottom: 10px;
}

.valores {
  background-color: #fdf1f5;
}

.reservar {
  background-color: #f8c8dc;
}



footer {
  background-color: #6b2f3a;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  .hero h2 {
    font-size: 38px;
  }
}

/* ===== ESTILOS DEL MENU ===== */

.subtitulo{
    text-align: center;
    color: #9b4d5c;
    margin-bottom: 50px;
    font-size: 18px;
}

.categoria{
    background-color: white;
    margin-bottom: 40px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: left;
}

.categoria h3{
    text-align: center;
    background-color: #6b2f3a;
    color: white;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 10px;
    margin: 0 auto 30px auto;
    display: block;
    width: fit-content;
}

.producto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.producto:last-child{
    border-bottom: none;
}

.producto h4{
    color: #6b2f3a;
    font-size: 24px;
    margin-bottom: 10px;
}

.producto p{
    color: #555;
    line-height: 1.8;
}

.producto span{
    font-size: 24px;
    font-weight: bold;
    color: #6b2f3a;
    min-width: 100px;
    text-align: right;
}

@media (max-width: 768px){

    .producto{
        flex-direction: column;
    }

    .producto span{
        text-align: left;
    }

}